@font-face {
    font-family: "Latex";
    src: url('./fonts/cmunrm.ttf');
}

body {
    font-family: Cambria, normal;
    color: mediumvioletred;
height: 100%;
overflow-y: hidden;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.webrings1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.webrings2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.webrings3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pothead {
    margin-right: 5px;
}

.header {
    background-color: #ffffff;
}

.topnav {
    background-color: aliceblue;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}

.topnav a {
    text-align: center;
    float: left;
    padding: 15px 15px;
    font-size: 15px;
}

.main iframe {
    border: 3px rgb(39, 83, 113) solid;
	width: 85%;
	height: 99%;
    float: right;
    background-image: url('pattern69.gif');
}

.sidebar {
border: 3px rgb(39, 83, 113) solid;
height: 99%;
width: 14%;
float: left;
background-color: white;
overflow-y: scroll;
}

.screen {
height: 100%;
width: 100%;
padding: 5px;
overflow-y: scroll;
}

.main {
    height: 93vh;
    width: 97.5%;
    padding: 7px;
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: mediumvioletred;
}

.genealogy {
    display: flex;

}

.ancestors {
    float: right;
    margin-top: 150px;
    margin-left: 150px;
}

.dates {
    font-size: 13px;
    margin-left: 175px;
    display: inline-block;
}

.parentlist {
    list-style-type: none;
}

.familyview {
    font-size: 0px;
}

.male {
    border-left: 5px blue solid;
    background-color: light
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    width: 350px;
    height: 20px;
    white-space: nowrap;
}

.female {
    border-left: 5px pink solid;
    background-color: #ffeeee;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    width: 350px;
    height: 20px;
}

.name {
    display: inline-block;
    margin-left: 5px;
    width: 10px;
}

.parents {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.marriage {
    font-size: 16px;
    margin-left: 5px;
    display: inline-block;
}